<a href="https://colab.research.google.com/github/LAWWI/Pythonlab3/blob/main/Copy_of_Lab3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercise 3

3.1 จากข้อมูลใน List ให้หาผลบวกเฉพาะตัวเลขคู่ โดยใช้ While Loop

list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 13]

In [14]:
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 13]
sum = 0
i = 0
while i < len(list1):
    if  list1[i] %2 ==0:
      sum += list1[i]
    i+=1
print(sum)

20

3.2 จากข้อมูลใน List ให้หาตัวเลขที่มีค่ามากที่สุดเป็นอันดับ 2 ใน List โดยใช้ While Loop

list = [-5, 7, 10, 1, 2, 5, 8, 100]

In [13]:
x = [-5, 7, 10, 1, 2, 5, 8, 100]
if len(x) < 2:
    print("List ต้องมีจำนวนสมาชิกอย่างน้อย 2 คน")
else:
    max_num = float('-inf')
    second_max = float('-inf')
    index = 0
    while index < len(x):
        if x [index] > max_num:
            second_max = max_num
            max_num =x[index]
        elif x[index] > second_max and x[index] != max_num:
            second_max = x[index]
        index += 1

    print(second_max)

10

3.3 เขียนโปรแกรมรับค่า n แล้วคำนวณค่าต่อไปนี้

$1/1^2 + 1/2^2 + 1/3^2 + 1/4^2 + 1/5^2 + … +  1/n^2$

In [ ]:
def calculate_series_sum(n):
    series_sum = 0.0
    for i in range(1, n + 1):
        series_sum += 1 / (i ** 2)
    return series_sum
n = int(input("Enter the value of n: "))
result = calculate_series_sum(n)
print(f"The sum of the series is: {result}")

Enter the value of n: 2
The sum of the series is: 1.25

3.4 จากข้อมูลใน List ให้ตรวจสอบว่า ข้อมูลในลิสต์ s เรียงลำดับจากน้อยไปมากหรือไม่ ตอบเป็น True, False

	[1,2,3,4,5], [5,4,3,2,1]

In [ ]:
def maine(s):
    i = 0
    while i < len(s) - 1:
        if s[i] > s[i + 1]:
            return False
        i += 1
    return True

list1 = [1, 2, 3, 4, 5]
list2 = [5, 4, 3, 2, 1]

result1 = maine(list1)
result2 = maine(list2)
print(f"Is the list {list1} sorted?: {result1}")
print(f"Is the list {list2} sorted?: {result2}")

Is the list [1, 2, 3, 4, 5] sorted?: True
Is the list [5, 4, 3, 2, 1] sorted?: False

3.5  ให้ x เป็นลิสต์เก็บคะแนน ต้องการปรับช่องที่มีค่าน้อยกว่า 30 ให้มีค่าเพิ่มอีก 10% แสดงผลลัพธ์ เป็น List

	x = [60, 70, 72, 65, 55, 43, 20, 90, 12]

In [ ]:
x = [60, 70, 72, 65, 55, 43, 20, 90, 12]

i = 0
while i < len(x):
    if x[i] < 30:
        x[i] += x[i] * 0.1
    i += 1

print(x)

[60, 70, 72, 65, 55, 43, 22.0, 90, 13.2]

3.6 ต้องการหาผลรวมของคะแนนที่เก็บในลิสต์ x โดยขอไม่รวมคะแนนที่น้อยสุดอันดับ 2

	x = [15, 80, 75, 62, 55, 43, 99, 67, 10]

In [ ]:
x = [15, 80, 75, 62, 55, 43, 99, 67, 10]

sorted_x = sorted(x)
second_min = sorted_x[1]
total_sum = 0
for score in x:
    if score != second_min:
        total_sum += score

print(total_sum)

491

3.7 จากข้อมูลใน List ให้แสดง string ที่มีความยาวมากกว่า 2 และมีอักษรตัวแรกกับตัวสุดท้ายเหมือนกัน แสดงบรรทัดละ 1 ตัว

	lst = ['abba', 'a', 'aa', 'alcaza', 'python', 'stores', 'program', 'execute']

In [9]:
lst = ['abba', 'a', 'aa', 'alcaza', 'python', 'stores', 'program', 'execute']

i = 0
while i < len(lst):
    s = lst[i]
    if len(s) > 2 and s[0] == s[-1]:
        print(s)
    i += 1

abba
alcaza
stores
execute

3.8 จากข้อมูลใน List ให้ลบข้อมูลที่มีซ้ำกันให้เหลือเพียงตัวเดียว ให้แสดงผลเป็น list เช่น

[‘a’,’a’] => [‘a’]

lst = ['a', 'a', 'b', 'a', 'b', 'c', 'd']

In [12]:
lst = ['a', 'a', 'b', 'a', 'b', 'c', 'd']

No_item = []

for item in lst:
    if item not in No_item:
        No_item.append(item)

print(No_item)

['a', 'b', 'c', 'd']

3.9 จากข้อมูลใน List ให้แสดงว่าแต่ละข้อมูลใน List มีจำนวนเท่าไร คือ มีซ้ำกันกี่ตัวใน List  ให้แสดงบรรทัดละตัว เช่น

	[1, 2, 3, 4, 1, 2, 3, 1, 2, 1]
	1 = 4
	2 = 3
	3 = 2
	4 = 1
  
	lst = [1,2,3,4,5,1,2,3,4,1,2,3,1,2,1]

In [11]:
lst = [1, 2, 3, 4, 5, 1, 2, 3, 4, 1, 2, 3, 1, 2, 1]
xs = {}
i = 0
while i < len(lst):
    num = lst[i]
    if num in xs:
        xs[num] += 1
    else:
        xs[num] = 1
    i += 1
for key in sorted(xs.keys()):
    print(f"{key} = {xs[key]}")

1 = 5
2 = 4
3 = 3
4 = 2
5 = 1

1.	เขียนโปรแกรมเพื่อหาผลบวกของอนุกรม 5+10+15+20+… จนถึง n เมื่อ n เป็นตัวเลขที่รับเข้ามาทางคีย์บอร์ด

In [59]:
def sum1(n):
    total_sum = 0
    for i in range(5, n + 1, 5):
        total_sum += i
    return total_sum

n = int(input("Enter the value of n: "))

result =  sum1(n)


print(f"The sum  to {n} is: {result}")

Enter the value of n: 60
The sum  to 60 is: 390

2.	จงเขียนโปรแกรมที่จะหาตัวเลขระหว่าง 2000-3200 ที่หารด้วย 7 ลงตัว แต่หารด้วย 5 ไม่ลงตัว
การแสดงผลให้แสดงตัวเลขและคั่นด้วยเครื่องหมาย , ในบรรทัดเดียว

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

In [50]:
ans = []
for i in range(2000, 3201):
    if i % 7 == 0 and i % 5 != 0:
        ans.append(i)
ans_str = ','.join(map(str,ans))
print(ans_str)

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

3.	จากข้อมูลใน List ต้องการนับว่า มีข้อมูลกี่คู่ในลิสต์ที่ตัวทางซ้ายมีค่ามากกว่าตัวทางขวา (ไม่จำเป็นต้องอยู่ติดกัน)

x = [1, 5, 4, 2, 1]

In [15]:
x = [1, 5, 4, 2, 1]
i = 0
n = 0
d = 0
for i in range(len(x)):
  for d in range(i+1,len(x)):
     if x[i]> x[d]:
      n+=1
print(n)

6

4.	ให้ตรวจสอบว่า String ที่รับเข้ามาผ่านคีย์บอร์ด เป็นตัวอักษรพิมพ์เล็ก หรือตัวอักษรพิมพ์ใหญ่ อย่างละกี่ตัว ตอบ 2 บรรทัด พิมพ์เล็ก 1 บรรทัด พิมพ์ใหญ่ 1 บรรทัด

klfjslkgD;FGK;LSDKdl;gfk;
=> 18,3

In [39]:
def count_case(s):
    lower_count = 0
    upper_count = 0

    i = 0
    while i < len(s):
        char = s[i]
        if 'a' <= char <= 'z':
            lower_count += 1
        elif 'A' <= char <= 'Z':
            upper_count += 1
        i += 1

    return lower_count, upper_count


input_string = input("Enter a string: ")

lower_count, upper_count = count_case(input_string)
lower_count = str(lower_count)
upper_count =str(upper_count)
print(lower_count+","+upper_count)

Enter a string: klfjslkgD;FGK;LSDKdl;gfk;
13,8

5.	จงเขียนโปรแกรมที่หาตัวเลขระหว่าง 1000 และ 3000 ที่ทุกหลักเป็นเลขคู่ (รวม 1000 และ 3000) โดยแสดงผลในรูปแบบตัวเลขคั่นด้วย comma

2000,2002,2004,2006,2008,2020,2022,2024,2026,2028,2040,2042,2044,2046,2048,2060,2062,2064,2066,2068,2080,2082,2084,2086,2088,2200,2202,2204,2206,2208,2220,2222,2224,2226,2228,2240,2242,2244,2246,2248,2260,2262,2264,2266,2268,2280,2282,2284,2286,2288,2400,2402,2404,2406,2408,2420,2422,2424,2426,2428,2440,2442,2444,2446,2448,2460,2462,2464,2466,2468,2480,2482,2484,2486,2488,2600,2602,2604,2606,2608,2620,2622,2624,2626,2628,2640,2642,2644,2646,2648,2660,2662,2664,2666,2668,2680,2682,2684,2686,2688,2800,2802,2804,2806,2808,2820,2822,2824,2826,2828,2840,2842,2844,2846,2848,2860,2862,2864,2866,2868,2880,2882,2884,2886,2888,

In [16]:
result = []
for num in range(1000, 3001):
    num_str = str(num)
    if all(int(digit) % 2 == 0 for digit in num_str):
        result.append(num_str)
print(",".join(result))

2000,2002,2004,2006,2008,2020,2022,2024,2026,2028,2040,2042,2044,2046,2048,2060,2062,2064,2066,2068,2080,2082,2084,2086,2088,2200,2202,2204,2206,2208,2220,2222,2224,2226,2228,2240,2242,2244,2246,2248,2260,2262,2264,2266,2268,2280,2282,2284,2286,2288,2400,2402,2404,2406,2408,2420,2422,2424,2426,2428,2440,2442,2444,2446,2448,2460,2462,2464,2466,2468,2480,2482,2484,2486,2488,2600,2602,2604,2606,2608,2620,2622,2624,2626,2628,2640,2642,2644,2646,2648,2660,2662,2664,2666,2668,2680,2682,2684,2686,2688,2800,2802,2804,2806,2808,2820,2822,2824,2826,2828,2840,2842,2844,2846,2848,2860,2862,2864,2866,2868,2880,2882,2884,2886,2888

6.	ในคณิตศาสตร์ ตัวหารร่วมมาก หรือ ห.ร.ม. (greatest common divisor: gcd) ของจำนวนเต็มสองจำนวนซึ่งไม่เป็นศูนย์พร้อมกัน คือจำนวนเต็มที่มากที่สุดที่หารทั้งสองจำนวนลงตัว
จงหา ห.ร.ม. ของจำนวนเต็ม 2 จำนวนที่กำหนดให้
ข้อมูลนำเข้า
บรรทัดแรกเพียงบรรทัดเดียว ประกอบไปด้วยจำนวนเต็มบวกสองจำนวน a และ b มีค่าไม่เกิน 9999
ข้อมูลส่งออก
ในบรรทัดแรกของข้อมูลส่งออก ให้แสดงค่า ห.ร.ม. ของ a และ b
เช่น 	Input : 12 14		Output : 2
	Input : 7 3		Output : 1

678
345
=> 3

In [30]:
def find_sim(a, b):

    while b != 0:
        a, b = b, a % b
    return a

a, b = map(int, input("ใส่เลขไปสองตัวคั่นด้วยSpcaeนะเอ้อ: ").split())

gcd_result = find_sim(a, b)

print(gcd_result)

Enter two positive integers separated by space: 12 14
2

7.	จงเขียนโปรแกรมที่คำนวณค่าของ a+aa+aaa+aaaa เมื่อรับข้อมูลเป็นตัวเลข 1 หลัก

Input : 9

Output : 11106 (=9+99+999+9999)

In [17]:
k = 3
sum = 0
d= 0
if k > 0 and k <10:
  for i in range(1,5):
     sum += int(str(k)*i)
     k = str(k)
     d = "("+"="+(k+"+"+k+k+"+"+k+k+k+"+"+k+k+k+k)+")"
  print(sum,d)
else:
  print("อย่าใส่มานะ")

3702 (=3+33+333+3333)

8.	แปลงเลขโรมัน เป็นเลขอารบิก เช่น MMMDCCXXIV = 3724 (ค้นหาวิธีทางทางอินเตอร์เน็ต)

In [53]:
def roman_arabic(roman):
    roman_numerals = {
        'I': 1,
        'V': 5,
        'X': 10,
        'L': 50,
        'C': 100,
        'D': 500,
        'M': 1000
    }
    total = 0
    i = 0
    while i < len(roman):
        current_value = roman_numerals[roman[i]]
        if i + 1 < len(roman):
            next_value = roman_numerals[roman[i + 1]]
        else:
            next_value = 0
        if current_value < next_value:
            total -= current_value
        else:
            total += current_value
        i += 1
    return total
roman_input = input("Enter a Roman numeral: ")
arabic_output =roman_arabic(roman_input)
print(arabic_output)

Enter a Roman numeral: MMMDCCXXIV
3724

9.	อนุกรม Fibonacci คือ อนุกรมที่ตัวที่ 3 เป็นต้นไปเกิดจาก 2 ตัวหน้าบวกกัน จงเขียนโปรแกรมแสดงอนุกรม
เช่น ตั้งแต่ 0-1000 คือ 0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987

In [18]:
def value(max_value):
    value = [0, 1]
    while True:
        next_value = value[-1] + value[-2]
        if next_value > max_value:
            break
        value.append(next_value)
    return value
max_value = 1000
value = value(max_value)


print(value)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987]

10.	ให้สร้างโปรแกรม True Love โดยรับชื่อภาษาอังกฤษของ 2 คน จากนั้นค้นหาว่ามีตัวอักษรอยู่ในคำว่า True และ Love รวมกันกี่ตัว จากนั้นนำมาต่อกันเป็น % ตามรูป (ไม่ต้องแสดงเครื่องหมาย %)

Enter the first name: True
Enter the second name:  Love
88